.mdi {
  font-size: 24px;
  display: inline-block;
}
html {
  background: $white;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'arial', sans-serif;
  color: #414042;
  font-size: 14px;
}
.wrapper {
  padding: 0;
  margin: auto;
  max-width: 960px;
}
@media (max-width: 480px) {
  .wrapper {
    max-width: 90%;
  }
}
input,
select {
  border: 1px solid #e6e7ea;
  background-color: #f5f5f5;
  border-radius: 4px;
  min-width: 200px;
  line-height: 2em;
  text-indent: 0.5em;
  height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #414042;
}
input::placeholder,
select::placeholder {
  color: rgba(65,64,66,0.33);
  font-style: italic;
}
#HEADER .head-icon {
  height: auto;
}
#HEADER .head-icon img {
  height: 58px;
  margin: 8px;
}
#HEADER .head-title {
  background: url("../imgs/banner.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  min-height: 565px;
  overflow: hidden;
  position: relative;
}
#HEADER .head-title:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.33) 20%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.33) 20%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.33) 20%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.33) 20%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.33) 20%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
}
@media (max-width: 480px) {
  #HEADER .head-title {
    min-height: 200px;
  }
}
#HEADER h2 {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  margin-top: 10%;
}
#MAIN {
  text-align: center;
}
#MAIN h1.main-title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
  margin: 0 auto;
  padding: 2em 0 2em;
}
form#DATA .form-input {
  color: #ffbc12;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  padding-bottom: 15px;
}
@media (max-width: 840px) {
  form#DATA .form-input {
    width: 40%;
  }
}
@media (max-width: 480px) {
  form#DATA .form-input {
    width: 90%;
  }
}
form#DATA .form-input:nth-child(even) {
  margin-left: 3%;
}
form#DATA label {
  font-weight: bold;
  display: block;
  padding: 0 0 8px;
}
form#DATA input,
form#DATA select {
  width: 98%;
}
form#DATA .form-send {
  padding: 30px 0px;
}
form#DATA .submit {
  background: #ffbc12;
  color: #414042;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  border: 1px solid #ffbc12;
  padding: 6px 20px;
  border-radius: 4px;
  display: inline-block;
}
form#DATA .form-annotation {
  font-size: 11px;
  line-height: 1.5em;
  text-align: justify;
}
form#DATA .form-annotation p,
form#DATA .form-annotation a {
  color: #ffbc12;
}
form#DATA .form-annotation a {
  margin: 0 0.5em;
  font-weight: bold;
}
form#DATA .form-annotation p.note-cite {
  color: #414042;
}
footer#FOOTER {
  border-top: 2px solid #ffbc12;
  margin: 40px 0 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-style: italic;
}
